body{
    background-image: url("../assets/lilypads.png");
    background-size: cover;
}
/* SECTION: The Welcome Screen
    NOTE:
        - Will be the only thing displayed, then on submit, changes display to none.
*/
.welcome-screen{
    background-color: rgba(0,0,0,0.9);
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    border-radius: 5px;
}

.welcome-screen h1{
    text-align: center;
    color: white;
}

.welcome-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-screen input{
    padding: 7px;
    width: 80%;
}

.welcome-screen button{
    padding: 7px 10px;
    margin-top: 10px;
}

/* SECTION: This container holds all the progress bars, with their icons
    NOTE:
        - Can scale to contain 4 easily
*/
.progress-container{

    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: center;
}
.progress-bar{

    margin: 0 5px 5px 5px;
}

/* SECTION: This container holds the image of the frog stage and the Frog Name 
    NOTE: 
        - the image and name are centered inside the container
*/
.character-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.character-container img{

}
.character-container h3{

}

/* SECTION: This container holds all the buttons that will be pressed to increase the progress bars
    NOTE:
        - Button container can hold all 4 equally
*/
.buttons-container{

    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttons-container button{

    padding: 10px 20px;
    margin: 10px;
}

/* Resizing elements to fit on phone screens */
@media only screen and (max-width: 400px){
    .progress-container{
        flex-direction: column;
    }
    .character-container img{
        width: 100px;
        height: auto;
    }
    .buttons-container{
        flex-direction: column;
    }
}