body{
    background-image: url("../assets/lilypads.png");
    background-size: cover;
    margin: 0;
}

/* SECTION: The game content
    NOTE:
*/
.game-content{
    background: rgba(255, 255, 240, 0.9);
    margin: 20px;
    border-radius: 10px;
}

/* SECTION: The Welcome Screen
    NOTE:
*/
.welcome-screen{
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    width: 50vw;
    height: 35vh;
    padding: 15px;
    border-radius: 5px;
    top: calc(50% - 25vh);
    left: calc(50% - 30vw);
}

.welcome-screen h1{
    text-align: center;
    color: white;
}

.welcome-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-screen input{
    padding: 7px;
    width: 80%;
}

.welcome-screen button{
    padding: 7px 10px;
    margin-top: 10px;
}

/* SECTION: This container holds all the progress bars, with their icons
    NOTE:
*/
.progress-container{

    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: center;
}
.progress-bar{
    margin: 0 5px 5px 5px;
}

/* SECTION: This container holds the image of the frog stage and the Frog Name 
    NOTE: 
*/
.character-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-container img{
    max-height: 300px;
}

/* SECTION: This container holds all the buttons that will be pressed to increase the progress bars
    NOTE:
*/
.buttons-container{

    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttons-container button{

    padding: 10px 20px;
    margin: 10px;
}

/* SECTION: The end screen is the final part of the game that is displayed
    NOTE:
*/
.end-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.end-screen img{
    width: 200px;
}

/* Resizing elements to fit on phone screens */
@media only screen and (max-width: 400px){
    .progress-container{
        flex-direction: column;
    }
    .character-container img{
        width: 100px;
        height: auto;
    }
    .buttons-container{
        flex-direction: column;
    }
    .progress-bar h2{
        font-size: 0.9em;
    }
}